<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AboutUs/MusicALFree</title>
<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>MusicALFree</h1>
  <h2>We are a non profit organization that wants to help people who suffer from alzheimer. We want to do so beacause we noticed it is a major problem.<h2>

  </body>
</html>
