<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Title</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a  href="#!" class="brand-logo">MusicAlFree</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/AboutUs">About us</a></li>
          <li><a href="/TheTeam">The Team</a></li> 
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>







            <div class="bgimg-1">
              <div class="caption">
                <span class="border">WELCOME</span>
              </div>
            </div>

            <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
              <h3 style="text-align:center;">Alzheimer</h3>
              <p>Alzheimer’s disease is a progressive brain disorder that impacts memory, thinking, language skills, and the ability to carry out the simplest tasks. Alzheimer’s disease is the most common cause of dementia. Dementia itself is not a disease, but a term used to describe symptoms such as loss
                 of memory, loss of judgment and other intellectual functions. Alzheimer’s disease can cause dementia.</p>
            </div>

            <div class="bgimg-2">
              <div class="caption">
                <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">MUSIC THERAPY</span>
              </div>
            </div>

            <div style="position:relative;">
              <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <p>  Music therapy has been documented through the centuries as a credible form of healing.
                A recent study shows that dementia and Alzheimer’s patients can recall memories and emotions,
                 and have enhanced mental performance after singing classic hits and show tunes from movies and musicals —
                 a breakthrough in understanding how music affects those with dementia and Alzheimer’s.
                 Music therapy
                  evokes emotions resurfacing memories,
                  aptitude,  and appreciation, which are two of the last remaining abilities in dementia patients.
                 Singing is engaging to the alzheimer patients which brings emotional
                 and physical closeness. Last but not least music can shift
                 mood, manage stress, and stimulate positive interactions.</p>
              </div>
            </div>

            <div class="bgimg-3">
              <div class="caption">
                <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ABOUT US</span>
              </div>
            </div>

            <div style="position:relative;">
              <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <p>Robert Smith musician of the famous australian band XYZ, is suffering the terrible sickness of Alzheimer's which is a type of dementia that not only affects the patients but everyone around them. He is one of the million patients with Alzheimer's.
We are a non-profit organization that provides weekly musical treatment for patient with Alzheimer's. Also  you can find different musical activities which are performed by our host which are the musicians who register for this great cause. Our musicians will register their bands  and dates when they can provide their show.
 We want to take this foundation to every home and hospital in Puerto Rico and outside.</p>
              </div>
            </div>

            <div class="bgimg-1">
              <div class="caption">
                <span class="border">COOL!</span>
              </div>
            </div>







    <!-- Dropdown Structure -->
    <footer class="page-footer" >
      <div class="container">
        <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">Contact Us</h5>
               <p class="grey-text text-lighten-4">musicalfreecenme@gmail.com</p>
               <p class="grey-text text-lighten-4"> 787-545-8745 </p>
          <div class=social-media>
             <!-- Add font awesome icons -->
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-google"></a>
               <a href="#" class="fa fa-youtube"></a>
               <a href="#" class="fa fa-instagram"></a>
               <a href="#" class="fa fa-snapchat-ghost"></a>

          </div>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text"></h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Donate</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Apply</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Musicians</a></li>
              </ul>
           </div>
           </div>
           </div>
           <div class="footer-copyright">
               <div class="container">
                 © 2017 MusicAlFree CENME
                 <a class="grey-text text-lighten-4 right" href="#!">Adobe Flash Player</a>
               </div>
               </div>
           </footer>



  </body>
</html>
