<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Title</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a  href="#!" class="brand-logo">MusicAlFree</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>


    <h2> I regard music therapy as a tool of great power in many neurological disorders--Alzheimer's--because of its unique
    capacity to organize or reorganize cerebral function when it has been damaged. </h2>

<p> What? Our visual platform is aimed at relatives of Alzheimer's patients.
  The patient will receive music / therapy based on their musical preferences through students.
</p>
<p>Why? We want the music to be an alternative means of treatment
 that helps the patient to channel his memories. </p>

 <p>How? We will create a website were musicians can become host to be match with an
   alzheimers community and be used as a mentor.

    <!-- Dropdown Structure -->
    <footer class="page-footer" >
      <div class="container">
        <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">Contact Us</h5>
               <p class="grey-text text-lighten-4">musicalfreecenme@gmail.com</p>
               <p class="grey-text text-lighten-4"> 787-545-8745 </p>
          <div class=social-media>
             <!-- Add font awesome icons -->
               <a href="#" class="fa fa-facebook"></a>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-google"></a>
               <a href="#" class="fa fa-youtube"></a>
               <a href="#" class="fa fa-instagram"></a>
               <a href="#" class="fa fa-snapchat-ghost"></a>

          </div>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text"></h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Donate</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Apply</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Musicians</a></li>
              </ul>
           </div>
           </div>
           </div>
           <div class="footer-copyright">
               <div class="container">
                 © 2017 MusicAlFree CENME
                 <a class="grey-text text-lighten-4 right" href="#!">Adobe Flash Player</a>
               </div>
               </div>
           </footer>



  </body>
</html>
