<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title></title>
  </head>
  <body>
    <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Home</a></li>
  <li><a href="#!">Profile</a></li>
  <li class="divider"></li>
  <li><a href="#!">Book a Show</a></li>
  <li><a href="#!">Request Musicians</a></li>
  <li><a href="#!">Sign Out</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">MusicAlFree</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Something</a></li>
      <li><a href="badges.html">Something</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

    <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://jazzcave.wpengine.netdna-cdn.com/wp-content/uploads/2016/12/jazz-cave-malta-bringing-music-min.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="carousel-header">Prof. Espinosa Rivara</h3>
          <h5 class="light grey-text text-lighten-3">Premering July 24,2017 in CIA PR</h5>
        </div>
      </li>
      <li>
        <img src="http://beyondthemirrortrading.weebly.com/uploads/2/5/0/2/25026946/610697.png"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="carousel-header">Sierra Boggers</h3>
          <h5 class="light grey-text text-lighten-3">Performing at Egida del Maestro</h5>
        </div>
      </li>
      <li>
        <img src="http://tch15-assets.medici.tv/media/uploads/live/violon.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="carousel-header">Prof. Arnaldo Figueroa</h3>
          <h5 class="light grey-text text-lighten-3">Playing at Metropolitan hospital</h5>
        </div>
      </li>
      <li>
        <img src="http://www.rickymartinmusic.com/wp-content/themes/ricky_martin/static/images/ricky-martin-video.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="carousel-header">Ricky Martin</h3>
          <h5 class="light grey-text text-lighten-3">Fundrasing in the Choliseo</h5>
        </div>
      </div>

<div class="calendar">
  <h5>Upcoming Events</h5>
  <div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li style="text-align:center">
        August<br>
        <span style="font-size:18px">2017</span>
      </li>
    </ul>
  </div>
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  <ul class="days">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li><span class="active">10</span></li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
  </ul>
</div>

<table id="dates-table">
  <tr class="header">
    <th style="width:50%;">Dates</th>
    <th style="width:40%;">Egida/Hospital</th>
  </tr>
  <tr>
    <td>July 6, 2017</td>
    <td>Gia PR</td>
  </tr>
  <tr>
    <td>Luis Matos</td>
    <td>carusel home</td>
  </tr>
  <tr>
    <td>Barbara Caraballo</td>
    <td>Frances Home</td>
  </tr>
  <tr>
    <td>Thomas Anders</td>
    <td>Hospital Metropolitano</td>
  </tr>
  <tr>
    <td>Micah Rios</td>
    <td>Hospital Veterano</td>
  </tr>
  <tr>
    <td>Ricky Martin</td>
    <td>Trye Home</td>
  </tr>
  <tr>
    <td>Olga Tañon</td>
    <td>Hospital Veterano</td>
  </tr>
</table>

      <footer class="page-footer" >
        <div class="container">
          <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Contact Us</h5>
                 <p class="grey-text text-lighten-4">musicalfreecenme@gmail.com</p>
                 <p class="grey-text text-lighten-4"> 787-545-8745 </p>
            <div class=social-media>
               <!-- Add font awesome icons -->
                 <a href="#" class="fa fa-facebook"></a>
                 <a href="#" class="fa fa-twitter"></a>
                 <a href="#" class="fa fa-google"></a>
                 <a href="#" class="fa fa-youtube"></a>
                 <a href="#" class="fa fa-instagram"></a>
                 <a href="#" class="fa fa-snapchat-ghost"></a>

            </div>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Donate</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Apply</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Musicians</a></li>
                </ul>
             </div>
             </div>
             </div>
             <div class="footer-copyright">
                 <div class="container">
                   © 2017 MusicAlFree CENME
                   <a class="grey-text text-lighten-4 right" href="#!">Adobe Flash Player</a>
                 </div>
                 </div>
             </footer>
  </body>
</html>
