<!DOCTYPE html>
<html>
  <head <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/theteam.css' />
    <meta charset="utf-8">
    <title>The Team</title>
  </head>
  <body>
    <!--navbar-->
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">MusicAlFree</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>

    <img src="/images/20170629_080116.jpg" alt="" width="1000px" height="500px"  align="middle" style="margin:0px 170px">
  <h2>The Team</h2>

  <div class="row">
          <div class="col s4 m">
            <div class="card">
              <div class="card-image">
                <img src="images/carlos.jpg"width="200px" height="200px">
                <span class="card-title">Carlos Cortes</span>
              </div>
              <div class="card-content">
                <p>Carlos Cortes</p>
              </div>
              <div class="card-action">
                <a href="#"></a>
              </div>
            </div>
          </div>

        <div class="col s4 m">
          <div class="card">
            <div class="card-image">
              <img src="images/estefania.jpg"width="200px" height="200px">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Estefania Maldonado</p>
            </div>
            <div class="card-action">
              <a href="#"></a>
            </div>
          </div>
        </div>
        <div class="col s4 m">
          <div class="card">
            <div class="card-image">
              <img src="images/nahuel.jpg"width="200px" height="200px">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Nahuel Diaz</p>
            </div>
            <div class="card-action">
              <a href="#"></a>
            </div>
          </div>
        </div>

          <h5>We came up with this idea because we wanted the alzheimer's community to have a better lifestyle and to help slow the process of memory loss.</h5>
            <h2>Sponsors</h2>
        <div class="row">
          <div class="col s4 m">
            <div class="card">
              <div class="card-image">
                <img src="https://inprende.com/wp-content/uploads/2016/03/i0.png"width="200px" height="200px">
                <span class="card-title">INprende</span>
              </div>
              <div class="card-content">
                <p> INprende seeks to empower the community by incorporating the entrepreneurial mindset as a way of life.</p>
              </div>
              <div class="card-action">
                <a href="#"></a>
              </div>
            </div>
          </div>
          <div class="col s4 m">
            <div class="card">
              <div class="card-image">
                <img src="https://pbs.twimg.com/profile_images/770992010744385536/ONmgSnxD.jpg"width="200px" height="220px">
                <span class="card-title"></span>
              </div>
              <div class="card-content">
                <p>HackPR was built for entrepreneurs who are tired of the traditional PR model.</p>
              </div>
              <div class="card-action">
                <a href="#"></a>
              </div>
            </div>
          </div>
          <div class="col s4 m">
            <div class="card">
              <div class="card-image">
                <img src="https://avatars3.githubusercontent.com/u/13034905?v=3&s=200"width="200px" height="200px">
                <span class="card-title"></span>
              </div>
              <div class="card-content">
                <p>Codetrotters is the first coding academy in Puerto Rico and the Caribbean, committed to training the next generation of coders and innovators. </p>
              </div>
              <div class="card-action">
                <a href="#"></a>
              </div>
            </div>
          </div>



<h5>Thanks to our sponsors we will continue to help slow down the process and give them a better life style.</h5>
<!--footer-->
<footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">For more information go back to our homepage.</h5>
               <p class="grey-text text-lighten-4">Our services are free so make sure you call us if you are interested in an event.</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text"></h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"></a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2017 MusicAlFree Foundation
           <a class="grey-text text-lighten-4 right" href="#!"></a>
           </div>
         </div>
       </footer>
