/* index page styling */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d5d2e0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  background-color: #6d639b;
}

nav .brand-logo {
  padding-left: 2%;
}

#colorNew {
color: #6d639b;
background-color: #6d639b;
}

.page-footer {
  background-color: #6d639b;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-yahoo {
  background: #430297;
  color: white;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}



h2{
font-style: italic;
color: inherit;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/images/Senior.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/images/71.jpg");
  min-height: 400px;
  min-width: 200px;
}

.bgimg-3 {
  background-image: url("/images/lol.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
