body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d5d2e0;
}

nav {
  background-color: #6d639b;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }


#colorNew{
color: #6d639b;
background-color: #6d639b;
}
